:root {
    --light-gray: #f5f5f5;
    --light-gray-hover: #e0e0e0;

    /* New color variables */
    --red-text: #ff0000;
    --red-bg: #ffe5e5;

    --blue-text: #0000ff;
    --blue-bg: #e5e5ff;

    --green-text: #008000;
    --green-bg: #e5ffe5;

    --yellow-text: #cbcb00;
    --yellow-bg: #ffffe5;

    --purple-text: #800080;
    --purple-bg: #f5e5f5;

    --orange-text: #ffa500;
    --orange-bg: #fff5e5;
}

li {
    list-style-type: none;
}

.a {
    text-decoration: none;
    color: black;
}

/* Navbar */
.project-menu {
    height: 60px;
    width: 60px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 5px;
}

button.menu-nav-item {
    --size: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    width: var(--size);
    height: var(--size);

    border-radius: 5px;

    position: relative;
}

button.menu-nav-item:hover {
    background: var(--light-gray-hover);
}

button.menu-nav-item > i {
    font-size: 18px;
}


/* Board Menu */

.board {
    min-width: 350px;
    max-width: 350px;
}

.btn-project {
    position: absolute;
    top: 10px;
    left: 10px;
}

.main-dashboard {
    display: flex;
    gap: 30px;

    padding: 100px 50px 0 50px;

    width: 100%;

    position: relative;
    overflow-y: scroll;
}

.title-board {
    display: flex;
    align-items: center;

    font-size: 18px;
    font-weight: bold;
    padding: 10px 15px;

    max-height: 35px;

    border-radius: 5px;
}

.title-board * {
    font-size: 18px;
}

.dot-title-board {
    width: 10px;
    height: 10px;

    border-radius: 50%;
}

.card-task {
    display: flex;
    flex-direction: column;

    padding: 10px;

    border-radius: 5px;

    background-color: var(--light-gray);
}

.card-task p {
    margin: 0;
}

.add-task {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 10px 5px;

    border-radius: 5px;

    border: none;

    background: #7676766d;
}
